
h1{
    text-align: center;
}

body{
    background: linear-gradient(white 60%, blue 0%);
}
img{
    margin-top: 40px;
    margin-left: 40%;
    border-radius: 50%;
    width: 300px;
    height: 400px;
}
