<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/style.css'>
    <script src='main.js'></script>
</head>
<body>
    <section class="padre">
        <div class="uno">
            <h1>Anyie Daniela Condiza Quintero</h1>
        </div>
        <div class="ocho">
            <img  src="../images/yopis.jpg">
        </div>
        <div class="tres">
            <p>Nombre: Anyie Daniela Condiza Quintero</p>
            <p>Fecha De Nacimiento: 26/oct/2003</p>
            <p>Ocupación: Estudiante</p>
        </div>
    </section>
</body>
</html>